
body {
    display: flex;
    justify-content: center;
}
#root {
    max-width: 480px !important;
}
.bg-main{
    background-color: #2852ce;
}
.progress{
    width: 50%;
}
.work-active{
    border:0.25rem solid;
    border-color: #d9d9d9;
}
.absolute{
    position: absolute;
}
.top-16{
    top:4rem;
}
.pb-14{
    padding-bottom:3.5rem;
}
.pt-11{
    padding-top:2.75rem;
}
.pt-3{
    padding-top:0.75rem;
}
.m-0{
    margin:0;
}
.pt-2{
    padding-top:0.5rem;
}
.pl-6{
    padding-left:1.5rem !important;
}
.pb-2{
    padding-bottom:0.5rem;
}
.pt-8{
    padding-top:2rem;
}
.pt-16{
    padding-top:4rem;
}
.pt-24{
    padding-top:6rem;
}
.pb-14{
    padding-bottom:3.5rem;
}
.rounded-xl{
    border-radius: 0.75rem;
}
.gap-4{
    gap:0.75rem;
}
.bg-slate-200{
    background-color: rgb(226, 232, 240);
}
.bg-sky-600{
    background-color: rgb(2 132 199);
}
.bg-rose-500{
    background-color: rgb(244 63 94);
}
.px-2-5{
    padding-left:0.625rem;
    padding-right:0.625rem;
}
.w-90{
    width:90%;
}
.w-91{
    width:91%;
}
.w-93{
    width:93%;
}
