
body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#root {
    max-width: 480px !important;
}
.bg-main{
    background-color:#0566EB;
}
.bg-green{
    background-color: #13B4AC;
}
@media (min-height: 852px){
    
    .w-14-r{
        width: 3rem !important;
    }
    .gap-4{
        gap:1rem !important;
    }
    .text-base{
        font-size: 0.7rem !important;
    }
    .text-2xl{
        font-size: 1rem !important;
    }
    .w-2-r{
        width:1.5rem !important;
    }
    .n-work,.n-detail{
        padding-bottom:10%;
    }
    .w-full{
        width: 100% !important;
    }
    .card-fixed{
        width: 92% !important;
    }
    .card-fixed-d{
        padding-top:5rem;
    }
    .banner-dashboard{
        padding-top: 7rem !important;
    }
}

@media (max-width: 480px){
    .w-14-r{
        width: 3rem !important;
    }
    .gap-4{
        gap:0.7rem !important;
    }
    .text-base{
        font-size: 0.7rem !important;
    }
    .text-2xl{
        font-size: 1rem !important;
    }
    .w-2-r{
        width:1.25rem !important;
    }
    .n-work{
        padding-top:0.625rem;
        padding-bottom:0.625rem;
        padding-left: 1.1rem !important;
        padding-right: 1.1rem !important;
    }
    .n-detail{
        padding-bottom: 0.7rem;
    }
    .card-fixed{
        padding: 1rem !important;
    }
    .pt-24{
        padding-top:15rem !important;
    }

    .w-full{
        width: 100% !important;
    }
    .card-fixed{
        width: 92% !important;
    }
    .card-fixed-d{
        padding-top:5rem;
    }
    .banner-dashboard{
        padding-top:7rem !important;
    }
    
}
@media (max-width: 400px){
    .banner-dashboard{
        padding-top:8rem !important;
    }
}

.shadow-lg{
    box-shadow: 0 0rem 0rem rgba(0,0,0,0.100)!important;
}
.progress{
    width: 50%;
}
.work-active{
    border:0.05rem solid;
    border-color: #d9d9d9;
}
.absolute{
    position: absolute;
}
.top-16{
    top:4rem;
}
.py-4{
    padding-top:1rem;
    padding-bottom:1rem;
}
.py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pr-0{
    padding-right: 0;
}
.pr-03{
    padding-right: 0.3rem;;
}
.p-1{
    padding:0.25rem;
}
.p-2{
    padding:0.5rem;
}
.pb-6{
    padding-bottom:1.5rem;
}
.pb-8{
    padding-bottom: 2rem;
}
.pb-14{
    padding-bottom:3.5rem;
}
.pb-30{
    padding-bottom:7.5rem;
}
.pt-11{
    padding-top:2.75rem;
}
.pt-7{
    padding-top:1.75rem;
}
.pt-3{
    padding-top:0.75rem;
}
.m-0{
    margin:0;
}
.pt-2{
    padding-top:0.5rem;
}
.pl-01{
    padding-left: 0.1rem;
}
.pl-2{
    padding-left:0.5rem;
}
.pl-6{
    padding-left:1.5rem !important;
}
.pb-2{
    padding-bottom:0.5rem;
}
.pt-8{
    padding-top:2rem;
}
.pt-16{
    padding-top:4rem;
}
.pt-24,.card-fixed-d{
    padding-top:6rem;
}
.pb-14{
    padding-bottom:3.5rem;
}
.pr-8{
    padding-right: 2rem;;
}
.rounded-xl{
    border-radius: 0.75rem;
}
.gap-03{
    gap: 0.3rem;
}
.gap-2{
    gap:0.5rem;
}
.gap-4{
    gap:0.75rem;
}
.gap-5{
    gap:1rem;
}
.gap-10{
    gap: 2rem;
}
.bg-slate-200{
    background-color: rgb(226, 232, 240);
}
.bg-sky-600{
    background-color: rgb(2 132 199);
}
.bg-rose-500{
    background-color: rgb(244 63 94);
}
.px-2-5{
    padding-left:0.625rem;
    padding-right:0.625rem;
}
.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-8{
    padding-left: 2rem;
    padding-right: 2rem;
}
.w-450px{
    width: 450px;
}
.w-90{
    width:90%;
}
.w-91{
    width:91%;
}
.w-93{
    width:93%;
}
.w-94{
    width:94%;
}
.w-full{
    width: 480px;
}
.w-20{
    width: 20%;
}
.w-34{
    width: 34%;
}
.w-35{
    width: 35%;
}
.w-66{
    width: 66%;
}
.w-100{
    width: 100%;
}
.w-1-r{
    width: 1rem;
}
.w-2-r{
    width: 2rem;
}
.w-14-r{
    width: 3.5rem;
}
.h-60{
    height: 60%;
}
.rounded-3{
    border-radius:3rem !important;
}
.rounded-small{
    border-radius: 0.5rem;
}
.progress-bar{
    background-color: #FF9E49;
    width: 50% !important;
}
.progress{
    border-radius: 3rem;;
    background-color: #FF9E49;
    width: 100%;
    background-color: #c9c9c9;
}
.justify-space-between{
    justify-content: space-between;
}
.text-grey{
    color: #737373;
}
.text-label{
    color: #434343;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.text-small{
    font-size: 0.65rem;
}
.text-xs{
    font-size: 0.75rem;
}
.text-base{
    font-size: 1rem;
}
.text-sm{
    font-size: 1.2rem;
}
.text-2xl{
    font-size: 1.5rem;
}
.text-blue{
    color: #0087EC;
}
.opacity-40{
    opacity: 0.4;
}
.opacity-60{
    opacity: 0.6 ;
}
.shadow-small{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card-fixed{
    width: 450px;
}
.banner-dashboard{
    padding-top:5rem;
}
.bottom-0{
    bottom:0%;
}
.list-work{
    padding:1rem 0rem 1rem 0rem;
}
.z-index-2{
    z-index:2;
}
.listwork-section{
    padding-bottom:3rem;
}
.icon-home{
    background-color: #C9C9C9;
    display: block;
    width: 56px;
    height: 56px;
    mask: url('/public/img/navbar-icon/Navbar-beranda.svg') no-repeat center / contain;
    -webkit-mask: url('/public/img/navbar-icon/Navbar-beranda.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-work{
    background-color: #C9C9C9;
    display: block;
    width: 56px;
    height: 56px;
    mask: url('/public/img/navbar-icon/Navbar-pekerjaan.svg') no-repeat center / contain;
    -webkit-mask: url('/public/img/navbar-icon/Navbar-pekerjaan.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-riwayat{
    background-color: #C9C9C9;
    display: block;
    width: 56px;
    height: 56px;
    mask: url('/public/img/navbar-icon/Navbar-riwayat.svg') no-repeat center / contain;
    -webkit-mask: url('/public/img/navbar-icon/Navbar-riwayat.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-setting{
    background-color: #C9C9C9;
    display: block;
    width: 56px;
    height: 56px;
    mask: url('/public/img/navbar-icon/Navbar-setting.svg') no-repeat center / contain;
    -webkit-mask: url('/public/img/navbar-icon/Navbar-setting.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-wallet{
    background-color: #C9C9C9;
    display: block;
    width: 56px;
    height: 56px;
    mask: url('/public/img/navbar-icon/Navbar-wallet.svg') no-repeat center / contain;
    -webkit-mask: url('/public/img/navbar-icon/Navbar-wallet.svg') no-repeat center / contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.button-bar-active{
    background-color: #0087EC;
}